.searched-job{
    display: none;
}
.active-job{
    display: block;
    z-index: 999;
    position: absolute;
    top: 40.4rem;
    left: 5.6rem;
    background-color: #fff;
    padding: 2rem;
    cursor: pointer;
    display: flex;
    gap: 2rem;
}
.search-form button{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background-color: #000;
}
.job-overlay{
    display: none;
    height: 100%;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999999;
}
.active-job-overlay{
    display: grid;
    opacity: 1!important;
}
@media only screen and (max-width: 1200px) {
    .active-job{
        display: grid;
        top: 34rem;
    }
}