header{
  height: 5rem;
}
textarea{
  background: #fff;
  border: 1px solid rgba(0,167,172,.12);
  border-radius: 5px;
  padding-left: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  transition: .35s;
}
input, select{
  background: #fff;
  border: 1px solid rgba(0,167,172,.12);
  border-radius: 5px;
  height: 50px;
  padding-left: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  transition: .35s;
}
input:hover, select:hover {
  border-color: rgba(0,167,172,.4);
}
textarea:hover {
  border-color: rgba(0,167,172,.4);
}
label{
  font-weight: 500;
  font-size: .938rem;
}
.headder-top{
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 999;
}


/* About page */
.support-company-area{
  margin: 8rem 0;
}

